<datepicker-api-example></datepicker-api-example>
<datepicker-disabled-example></datepicker-disabled-example>
<datepicker-events-example></datepicker-events-example>
<datepicker-filter-example></datepicker-filter-example>
<datepicker-formats-example></datepicker-formats-example>
<datepicker-locale-example></datepicker-locale-example>
<datepicker-min-max-example></datepicker-min-max-example>
<datepicker-moment-example></datepicker-moment-example>
<datepicker-overview-example></datepicker-overview-example>
<datepicker-start-view-example></datepicker-start-view-example>
<datepicker-touch-example></datepicker-touch-example>
<datepicker-value-example></datepicker-value-example>

