<datepicker-api-example></datepicker-api-example>
<datepicker-disabled-example></datepicker-disabled-example>
<datepicker-events-example></datepicker-events-example>
<datepicker-filter-example></datepicker-filter-example>
<datepicker-formats-example></datepicker-formats-example>
<datepicker-locale-example></datepicker-locale-example>
<datepicker-min-max-example></datepicker-min-max-example>
<datepicker-moment-example></datepicker-moment-example>
<datepicker-overview-example></datepicker-overview-example>
<datepicker-start-view-example></datepicker-start-view-example>
<datepicker-touch-example></datepicker-touch-example>
<datepicker-value-example></datepicker-value-example>
<date-range-picker-forms-example></date-range-picker-forms-example>
<datepicker-views-selection-example></datepicker-views-selection-example>
<datepicker-color-example></datepicker-color-example>
<datepicker-actions-example></datepicker-actions-example>
<date-range-picker-comparison-example></date-range-picker-comparison-example>
<date-range-picker-selection-strategy-example></date-range-picker-selection-strategy-example>
<datepicker-inline-calendar-example></datepicker-inline-calendar-example>
<date-range-picker-overview-example></date-range-picker-overview-example>
<datepicker-custom-icon-example></datepicker-custom-icon-example>
<datepicker-date-class-example></datepicker-date-class-example>
<datepicker-custom-header-example></datepicker-custom-header-example>
