<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/chips/api#MatChipGrid">
    Chips with error state
  </a>
</h2>
<mat-form-field class="demo-chip-list" id="chips-with-error-state">
  <mat-chip-grid #chipList>
    <mat-chip-row
      *ngFor="let fruit of fruits"
      selectable="true"
      [removable]="removable"
      (removed)="remove(fruit)"
    >
      {{fruit.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip-row>
    <input
      placeholder="New fruit..."
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-grid>
  <mat-error *ngIf="chipList.errorState">Too many chips</mat-error>
  <mat-hint>Can only contain 3 chips max</mat-hint>
</mat-form-field>

<button mat-raised-button (click)="setError()">Set error state</button>
