<h2 class="example-h2">Configurable slider</h2>
<mat-card>
  <mat-card-content>
    <h4>Slider configuration</h4>

    <section class="example-section">
      <mat-form-field class="example-margin">
        <mat-label>Value</mat-label>
        <input matInput type="number" [(ngModel)]="value" id="slider-configurable-value">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <mat-label>Min value</mat-label>
        <input matInput type="number" [(ngModel)]="min" id="slider-configurable-min">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <mat-label>Max value</mat-label>
        <input matInput type="number" [(ngModel)]="max" id="slider-configurable-max">
      </mat-form-field>
      <mat-form-field class="example-margin">
        <mat-label>Step size</mat-label>
        <input matInput type="number" [(ngModel)]="step" id="slider-configurable-step">
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="showTicks" id="slider-configurable-showTicks">Show ticks</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="autoTicks" *ngIf="showTicks" id="slider-configurable-autoTicks">
        Auto ticks
      </mat-checkbox>
      <mat-form-field class="example-margin" *ngIf="showTicks && !autoTicks">
        <mat-label>Tick interval</mat-label>
        <input matInput type="number" [(ngModel)]="tickInterval" id="slider-configurable-tickInterval">
      </mat-form-field>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="thumbLabel" id="slider-configurable-thumbLabel">Show thumb label</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="vertical" id="slider-configurable-vertical">Vertical</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="invert" id="slider-configurable-invert">Inverted</mat-checkbox>
    </section>

    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="disabled" id="slider-configurable-disabled">Disabled</mat-checkbox>
    </section>

  </mat-card-content>
</mat-card>

<mat-card class="example-result-card">
  <mat-card-content>
    <h4>Result</h4>

    <mat-slider id="mat-slider-configurable"
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [tickInterval]="getSliderTickInterval()"
        [(ngModel)]="value"
        [vertical]="vertical">
    </mat-slider>
  </mat-card-content>
</mat-card>
