{
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "extends": [
      "plugin:vue/essential",
      "eslint:recommended",
      "@vue/airbnb"
    ],
    "parserOptions": {
      "parser": "babel-eslint"
    },
    "rules": {
      "max-len": ["error", { "code": 150 }],
      "no-trailing-spaces": 0
    }
}