<h2 class="example-h2">
  <a href="https://material.angular.io/components/paginator/api#MatPaginator" target="_blank">
    color: ThemePalette
  </a>
</h2>
<mat-paginator
              id="paginator-color-themepalette-primary"
              color="primary"
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
<mat-paginator
              id="paginator-color-themepalette-accent"
              color="accent"
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
<mat-paginator
              id="paginator-color-themepalette-warn"
              color="warn"
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
