<chips-overview-example></chips-overview-example>
<chips-stacked-example></chips-stacked-example>
<chips-autocomplete-example></chips-autocomplete-example>
<chips-input-example></chips-input-example>
<app-chips-with-form-control></app-chips-with-form-control>
<app-chips-drag-and-drop></app-chips-drag-and-drop>
<app-chips-avatar></app-chips-avatar>
<app-chips-disable-ripple></app-chips-disable-ripple>
<app-chips-disabled></app-chips-disabled>
<app-chips-highlighted></app-chips-highlighted>
<!--<app-chips-default-color></app-chips-default-color>-->
<app-chips-multiple></app-chips-multiple>
<!--<app-chips-required></app-chips-required>-->
