<h2 class="example-h2">
  <a href="https://material.angular.io/components/input/overview#changing-when-error-messages-are-shown">
    Input with a custom ErrorStateMatcher
  </a>
</h2>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput
           id="inputs_errorStateMatcher_email"
           [formControl]="emailFormControl"
           [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')"
               id="inputs_errorStateMatcher_message">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')"
               id="inputs_errorStateMatcher_message">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
