<h2 class="example-h2">
  <a href="https://material.angular.io/components/sidenav/overview#opening-and-closing-a-sidenav">
    Sidenav open & close behavior
  </a>
</h2>

<mat-card class="sidenav-demonstration-card">
  <mat-sidenav-container id = "open-close-behavior" class="example-container">
   <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
      Sidenav content
   </mat-sidenav>

   <mat-sidenav-content>
      <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
      <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
      <p>Events:</p>
      <div class="example-events">
        <div *ngFor="let e of events">{{e}}</div>
      </div>
   </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card>
