<h2 class="example-h2">
  <a href="https://material.angular.io/components/sidenav/overview#disabling-automatic-close">
    Sidenav with custom escape and backdrop click behavior
  </a>
</h2>

<mat-card class="sidenav-demonstration-card">
  <mat-sidenav-container id = "custom-escape-backdrop"
    class="example-container" (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
      <p><button mat-button (click)="close('toggle button')">Toggle</button></p>
    </mat-sidenav>

    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.open()">Open</button></p>
      <p>Closed due to: {{reason}}</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card>
