<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/radio/api#MatRadioButton">
    Basic radio ripple disabled
  </a>
</h2>
<mat-radio-group [color]="colorTheme" id="basic-radio-group-ripple-disabled" aria-label="Select an option">
  <mat-radio-button disableRipple="true" id="{{'radio-option-ripple-disabled'}}" value="1">Radio button ripple disabled</mat-radio-button>
  <br/>
  <mat-radio-button id="{{'radio-option-ripple-enabled'}}" value="2">Radio button ripple enabled</mat-radio-button>
</mat-radio-group>



