<div class="main-page">
  <img src="./angular/assets/img/examples/jdi_logo.png" alt="jdi-logo" />

  <div class="row text-center">
    <div class="mb-4 col">
      <h2 class="main-page-title">Angular Test components</h2>
      <p class="main-page-desc">
        Test components for JDI Light framework
      </p>
      <p class="main-page-desc">Angular version: 15.2.8</p>
      <p class="main-page-desc">Angular material components version: 15</p>
      <p class="main-page-desc"> Documentation: <a href="https://v15.material.angular.io/components/">https://v15.material.angular.io/components/</a></p>

    </div>
  </div>
</div>
