<h2 class="example-h2">
  <a href="https://material.angular.io/components/select/overview#getting-and-setting-the-select-value">
    Select in a form
  </a>
</h2>
<form>
  <h4>mat-select</h4>
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select [(ngModel)]="selectedValue" name="food" id="form-mat-select">
      <mat-option *ngFor="let food of foods" [value]="food.value" id="form-mat-select-list">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p id="form-mat-select-confirm"> Selected food: {{selectedValue}} </p>
  <h4>native html select</h4>
  <mat-form-field>
    <mat-label>Favorite car</mat-label>
    <select matNativeControl [(ngModel)]="selectedCar" name="car" id="form-native-select">
      <option value="" selected></option>
      <option *ngFor="let car of cars" [value]="car.value">
        {{car.viewValue}}
      </option>
    </select>
  </mat-form-field>
  <p id="form-native-select-confirm"> Selected car: {{selectedCar}} </p>
</form>
