<h2 class="example-h2">
  <a href="https://material.angular.io/components/autocomplete/api#MatAutocomplete" target="_blank">
    autoSelectActiveOption: boolean (true)
  </a>
</h2>
<div class="example-form">
  <mat-form-field class="example-full-width">
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
    >
    <mat-autocomplete [autoSelectActiveOption]="true" #auto="matAutocomplete">
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
