
:host {
  display: flex;
}

.nav-list {
  width: 240px;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fafafa;
  color: #000000de;
  position: sticky;
  top: 0;
}

.nav-list-item {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  flex: 1;
  height: 48px;
  line-height: 24px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
}

.content {
  padding: 30px;
}

