<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/chips/examples#chips-avatar">
    Chips avatar
  </a>
</h2>
<mat-chip-listbox aria-label="Dog selection" id="chips-avatar">
  <mat-chip>
    Dog one
    <img  matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
  </mat-chip>
  <mat-chip color="primary">
    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
    Dog two
  </mat-chip>
  <mat-chip color="accent">
    <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
    Dog three
  </mat-chip>
</mat-chip-listbox>

