<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/button-toggle/api#MatButtonToggle">
    Basic button-toggles disable ripple
  </a>
</h2>
<mat-button-toggle-group id="mat-button-toggle-group" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle disableRipple id="mat-button-toggle-disable-ripple-option-one" value="value 1" >Value 1 disable ripple</mat-button-toggle>
  <mat-button-toggle disableRipple id="mat-button-toggle-disable-ripple-option-two" value="value 2" >Value 2 disable ripple</mat-button-toggle>
  <mat-button-toggle id="mat-button-toggle-disable-ripple-option-three" value="value 3">Value 3 enable ripple</mat-button-toggle>
</mat-button-toggle-group>
