<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/button-toggle/api#MatButtonToggle">
    Basic button-toggles disable ripple
  </a>
</h2>
<mat-button-toggle-group id="mat-button-toggle-group" name="fontStyle" aria-label="Font Style" multiple>
  <mat-button-toggle disableRipple id="mat-button-toggle-disable-ripple-option-one" value="bold" >Bold disable ripple</mat-button-toggle>
  <mat-button-toggle disableRipple id="mat-button-toggle-disable-ripple-option-two" value="italic" >Italic disable ripple</mat-button-toggle>
  <mat-button-toggle id="mat-button-toggle-disable-ripple-option-three" value="underline">Underline enable ripple</mat-button-toggle>
</mat-button-toggle-group>
