<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/button-toggle/api#MatButtonToggleGroup">
    Basic button-toggles group vertical
  </a>
</h2>
<mat-button-toggle-group vertical id="mat-button-toggle-group-vertical" name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="value1">Value 1</mat-button-toggle>
  <mat-button-toggle value="value2">Value 2</mat-button-toggle>
  <mat-button-toggle value="value3">Value 3</mat-button-toggle>
</mat-button-toggle-group>
