<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/button-toggle/overview#appearance">
    Basic button-toggles appearance legacy
  </a>
</h2>
<mat-button-toggle-group appearance="legacy" id="mat-button-toggle-group-appearance" name="fontStyle" aria-label="Font Style" multiple>
  <mat-button-toggle value="bold" >Bold</mat-button-toggle>
  <mat-button-toggle value="italic" >Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
