<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/button-toggle/overview#button-toggle-mode">
    Basic button-toggles multiple select
  </a>
</h2>

<mat-button-toggle-group id="mat-button-toggle-group-font" name="fontStyle" aria-label="Font Style" multiple="">
  <mat-button-toggle value="value1">Value 1</mat-button-toggle>
  <mat-button-toggle value="value2">Value 2</mat-button-toggle>
  <mat-button-toggle value="value3">Value 3</mat-button-toggle>
</mat-button-toggle-group>
