<h2 class="example-h2">
  <a href="https://material.angular.io/components/chips/api#MatChip">
    Chips with default color
  </a>
</h2>
<mat-chip-listbox aria-label="Fish selection" id="chips-default-collor">
  <mat-chip-option defaultColor="warn" color="accent">default color </mat-chip-option>
  <mat-chip-option defaultColor="accent" >Highlighted Accent</mat-chip-option>
  <mat-chip-option defaultColor="warn" highlighted >Highlighted Accent</mat-chip-option>
  <mat-chip-option defaultColor = "undefined" highlighted>Highlighted base</mat-chip-option>
</mat-chip-listbox>

