<h2 class="example-h2">
  <a href="https://material.angular.io/components/paginator/api#MatPaginatorIntl" target="_blank">
    firstPageLabel: string, lastPageLabel: string
  </a>
</h2>
<mat-paginator
              id="paginator-first-page-label paginator-last-page-label paginator-show-first-last-buttons"
              [showFirstLastButtons]="true"
              firstPageLabel="test firstPageLabel"
              lastPageLabel="test lastPageLabel"
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
