<h2 class="example-h2">
  <a href="https://material.angular.io/components/chips/overview#orientation">
    Stacked chips
  </a>
</h2>
<mat-chip-listbox id="stacked-chips-list" class="mat-chip-list-stacked" aria-label="Color selection" id="stacked-chips-list">
  <mat-chip-option *ngFor="let chip of availableColors" [selected] ="chip.name === 'Primary'" [color]="chip.color"
            (click)="clickedStackedChip=chip.name">
    {{chip.name}}
  </mat-chip-option>
</mat-chip-listbox>
<br>
<p id="stacked-chips-label"> You clicked: {{clickedStackedChip}}</p>
