<tab-group-async-example></tab-group-async-example>
<tab-group-basic-example></tab-group-basic-example>
<tab-group-custom-label-example></tab-group-custom-label-example>
<tab-group-dynamic-example></tab-group-dynamic-example>
<tab-group-dynamic-height-example></tab-group-dynamic-height-example>
<tab-group-header-below-example></tab-group-header-below-example>
<tab-group-lazy-loaded-example></tab-group-lazy-loaded-example>
<tab-group-theme-example></tab-group-theme-example>
<tab-nav-bar-basic-example></tab-nav-bar-basic-example>
<tab-group-paginated-example></tab-group-paginated-example>
<tab-group-ink-bar-example></tab-group-ink-bar-example>
<tab-group-animations-example></tab-group-animations-example>
<tab-group-align-example></tab-group-align-example>