<h2 class="example-h2">
  <a href="https://material.angular.io/components/list/overview#lists-with-multiple-sections">
    List with sections
  </a>
</h2>
<mat-list class="auto-height" id="list-with-sections">
  <div mat-subheader>Folders</div>
  <mat-list-item id="{{ 'list-with-section-items-' + folder.name.toLowerCase() }}" *ngFor="let folder of folders">
    <mat-icon mat-list-icon>folder</mat-icon>
    <div mat-line>{{folder.name}}</div>
    <div mat-line> {{folder.updated | date}} </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Notes</div>
  <mat-list-item id="{{ 'list-with-section-items-' + note.name.toLowerCase().replace(' ','-') }}" *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>{{note.name}}</div>
    <div mat-line> {{note.updated | date}} </div>
  </mat-list-item>
</mat-list>
