<h2 class="example-h2">
  <a href="https://v15.material.angular.io/components/button-toggle/api#MatButtonToggleGroup">
    Basic button-toggles group disabled
  </a>
</h2>
<mat-button-toggle-group disabled id="mat-button-toggle-group-disabled" name="fontStyle" aria-label="Font Style" multiple>
  <mat-button-toggle value="bold" >Bold</mat-button-toggle>
  <mat-button-toggle value="italic" >Italic</mat-button-toggle>
  <mat-button-toggle value="underline">Underline</mat-button-toggle>
</mat-button-toggle-group>
