<h2 class="example-h2">
  <a href="https://material.angular.io/components/autocomplete/overview#option-groups">
    Option groups autocomplete
  </a>
</h2>
<form [formGroup]="stateForm">
  <mat-form-field>
    <input type="text"
           matInput placeholder="States Group"
           formControlName="stateGroup"
           required
           [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
        <mat-option *ngFor="let name of group.names" [value]="name">
          {{name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>
